# Fichiers Python compilés
./scripts/__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Fichiers de dépendances / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Caches
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.mypy_cache/
.dmypy.json
dmypy.json
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints

# Outils IDE/éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Config perso
*.env
*.ini
./data_example/MRIs/Patient_1/MRI_1/anonymize.py